configuration{
    modi: "drun";
    icon-theme: "Papirus";
    show-icons: true;
    terminal: "kitty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: false;
    display-drun: "    Run  ";
    sidebar-mode: false;
}

@theme "catppuccin-mocha"

