@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Medium:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500;700&display=swap');

:root {
  --font-primary: Open Sans;
  --font-code: Roboto Mono;
}

.theme-dark {
  --background-primary: #242424;
  --background-secondary: #2a2a2a;
  --background-mobile-secondary: #2a2a2a;
  --background-accent: #78aeed;
  --background-tertiary: #303030;
  --background-secondary-alt: #242424;
  --channeltextarea-background: #1e1e1e;
  --background-modifier-selected: #00000057;
  --background-modifier-hover: #00000024;
  --background-modifier-active: #0000004b;
  --background-mentioned: #78aeed15;
  --background-mentioned-hover: #78aeed0b;
  --info-warning-foreground: #78aeed;
  --scrollbar-thin-thumb: #0000003b;
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: #0000003b;
  --scrollbar-auto-track: transparent;
  --input-background: #1e1e1e;
}

